.container{
    display: grid;
    grid-template-columns: 7fr 4fr;
}
.list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    padding: 0 30px;
}

.map{
    background-color: cornflowerblue;
    position: sticky!important;
    top: 0;
    right: 0;
    left: 0;
    height: 80vh;
}
.marker.is-active, .marker:hover {
    z-index: 300;
    background-color: #5069ff;
    color: #fff;
}

.marker.is-active::after, .marker:hover::after{
    border-top-color: #5069ff;
}

.marker.is-expended {
    background-color: #fff!important;
    color: inherit;
    z-index: 301;
text-align:center ;
}

.marker.is-expended::after{
    border-top-color: #fff!important;
}

.leaflet-popup{
    margin-bottom: 16px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0 ,0, 0.3);
    background-color: white;
}

.leaflet-popup::after{
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0%;
    height: 0;
    margin-left: -8px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #fff;
}

.leaflet-popup-content-wrapper{
    background: transparent;
    color:inherit;
    box-shadow: none;
    text-align: inherit;
}
.leaflet-popup-tip-container {
    display: none;
}
.leaflet-popup-content{
    text-align: inherit;
    color: inherit;
    margin: 0;
}

/* Set the size of the div element that contains the map */
/*#map {
    height: 400px;*/
    /* The height is 400 pixels */
    /*width: 100%;*/
    /* The width is the width of the web page */
/*}*/
